<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <h1><%= heading %></h1>
    <p><%= body %></p>
    <div>
      <a href="/languages/en">en</a>
      <a href="/languages/fr">fr</a>
      <a href="/languages/ja">ja</a>
      <a href="/languages/ko">ko</a>
      <!-- All a tags are GET request -->
      <a href="/languages/es">es</a>
    </div>
</body>
</html>