<!DOCTYPE html>
<html class="sans-serif" style="margin: 0; padding: 0;">
	<head>
		<link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
		<title>Home</title>
		<script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>
	<script defer src="/scripts/main.js"></script>
	</head> 