body {
  background-color: tomato;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar .right {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.logo {
  width: 100px;
  transition-duration: 10s;
  transition-property: all;
  transition-delay: 0s;
  transition-timing-function: ease-out;
}

.logo:hover {
  width: 500px;
}

.m-logo {
  width: 200px;
  display: none;
}


@media screen and (max-width: 991.98px) {
  .logo {
    display: none;
  }

  .m-logo {
    display: block;
  }

  .navbar .right {
    width: 70%;
  }
}

@media screen and (max-width: 767.98px) {
  .logo {
    display: block;
  }

  .m-logo {
    display: none;
  }

  .navbar {
    flex-direction: column;
  }
}



/* 
  Min-width (media-breakpoint-up):
  576 | sm
  768 | md
  992 | lg
  1200 | xl

  Max-width (media-breakpoint-down):
  575.98 | xs
  767.98 | sm
  991.98 | md
  1199.98 | lg
*/